/* Import Source Code Pro (font) from google*/
@import "https://fonts.googleapis.com/css?family=Lato:900,700,700i%7CSource+Code+Pro:700,600,900,400%22";

/* set body and text settings */
body {background-color: #ffb3cb;}
h1	{color: white; font-family: 'Source Code Pro', monospace;}
h2	{color: white; font-family: 'Source Code Pro', monospace;}
h3  {color: white; font-family: 'Source Code Pro', monospace;}
h4	{color: white; font-family: 'Source Code Pro', monospace;}
h5	{color: white; font-family: 'Source Code Pro', monospace;}
h6	{color: white; font-family: 'Source Code Pro', monospace;}
h7	{color: white; font-family: 'Source Code Pro', monospace;}
p   {color: white; font-family: 'Source Code Pro', monospace;}

/* constants */
:root {
  --playlist-width: 50;
  --playlist-height:50;
}


/* image and body containers */
.xflipped{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.centertext {
  text-align:center;
}
.singlePlaylist{
  margin:20;
}

/*playlist hover functionality*/
.playlist_container {
  position: relative;
  width: 200;
  height: 200;
}

.playlist_image {
  display: block;
  width: 200;
  height: 200;
}

.playlist_image img {
  display: block;
  width: 200;
  height: 200;
}


.playlist_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.playlist_container:hover .overlay {
  opacity: .5;
}

.playlist_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* testing */

.container {
  position: relative;
  width: 200px;
  height:200px;
}

.image {
  display: block;
  width: 200px;
  height: 200px;
}

.image img {
  width: 100%;
  height: 100%;
  }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.container:hover .overlay {
  opacity: .5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



